<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Verificación OTP</title>
</head>

<body> 
    {% with messages = get_flashed_messages(with_categories=true) %} 
        {% if messages %} 
            <ul> 
                {% for category, message in messages %} 
                    <li class="{{ category }}">{{ message }}</li> 
                {% endfor %} 
            </ul> 
        {% endif %} 
    {% endwith %} 
    
    <form method="post"> 
        <label for="otp_code">Ingrese el código OTP:</label>
        <input type="text" name="otp_code" id="otp_code" required>
        <button type="submit">Verificar</button>
    </form>

</html>